<div class="top-menu">
  <img
    class="logo"
    src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png"
  />
</div>
<!--Usando la pipe de date para formatear la fecha-->
<!--<div style="text-align: center">Today is {{ today | date }}</div>-->
<!--<div style="text-align: center">Today is {{ today | date : "MM/dd/yyyy" }}</div>-->
<!--<div style="text-align: center">Today is {{ today | date : "short" }}</div>-->
<div style="text-align: center">
  {{ quantityCourses }} courses available now!
</div>
<div style="text-align: center">
  Today is {{ today | date : "MMM/dd/yyyy" | uppercase }}
</div>
<ng-template
  #defaultImage
  let-courseName="description"
  let-lessonsCount="lessonsCount"
>
  <!--Especificando argumentos al ngTemplate para llamarlos posteriormente en la propiedad context-->
  <!--Al parecer, la sintaxis es let-nombrePropiedad, donde nombrePropiedad debe tener exactamente el mismo nombre
  que la propiedad a la que hace referencia, sin todo esto, no funcionará-->
  <img
    src="../../assets/empty-image.png"
    width="300"
    alt="Empty image"
    style="display: block; width: 100%; margin-bottom: 10px"
  />
  <span
    >No image provided for course {{ courseName }} with
    {{ lessonsCount }} lessons</span
  >
</ng-template>
<div style="text-align: center">
  All courses starting from {{ 10.501 | currency : "USD" }}, with an offer of
  {{ 0.51 | percent }}
</div>
<div style="text-align: center">
  <button (click)="addCourse()">Add Course</button>
</div>
<div class="courses" #coursesRef>
  <!--Puedes crear una funcion que sirva para trackear el iterable, pero es preferible hacer el track por un id en vez de una funcion-->
  @for (course of courses | slice; track trackCourse($index, course); let index
  = $index; let count = $count; let first = $first; let last = $last; let even =
  $even; let odd = $odd) {
  <!--Aplicar estilos condicionalmente a un componente hijo con [class.style]="condition"-->
  @if(index == 2 || index == 3){
  <course-card
    #cardRef
    [course]="course"
    [class.is-first]="first"
    [class.is-last]="last"
    (courseSelected)="viewCourse($event)"
    [defaultImageTpl]="defaultImage"
  >
    <div class="course-description" ngProjectAs="course-description">
      {{ course.longDescription }}
    </div></course-card
  >
  }@else{
  <course-card
    [course]="course"
    [class.is-first]="first"
    [class.is-last]="last"
    (courseSelected)="viewCourse($event)"
    [defaultImageTpl]="defaultImage"
  >
    <div ngProjectAs="course-description" #description>
      {{ course.longDescription }}
    </div>
    <!--<div ngProjectAs="course-description" #description>
      {{ course.longDescription }}
    </div><div ngProjectAs="course-description" #description>
      {{ course.longDescription }}
    </div>--></course-card
  >
  } }
  <!--Si la lista esta vacía, se mostrara el contenido dentro de @empty-->
  @empty {
  <div class="no-courses">No courses available</div>
  }
  <!--  <course-card
    *ngFor="let course of courses; index as i; first as isFirst; last as isLast"
    (onCourseSelected)="viewCourse($event)"
    [course]="course"
    [class.is-first]="isFirst"
    [class.is-last]="isLast"
  />-->
</div>
